{%extends "pgconfeu/base.html"%}
{%block title%}Become a Sponsor{%endblock%}
{%block headline%}Become a Sponsor{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container bottom">
		<div class="row">
			<span class="anchor" id="becomeasponsor"></span>
			<div class="col-md-12 content left-col right-col">
				<h3>Become a Sponsor</h3>
				<p class="lead text-center">
					PostgreSQL Conference Europe is a perfect opportunity for companies to reach out to users and
					developers of PostgreSQL, or to just give back to the community.
				</p>
				<p>
					Our sponsorship program covers a wide range of levels, from cheap to big scale. Outside of these
					levels, we are always interested in discussing options if you have an idea for a specific way you
					would like to sponsor the conference. If you are interested in sponsoring the conference, please
					<a href="/contact/">let us know!</a>
				</p>

				<div class="row">

					<!-- Bronze Sponsor -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="row">
							<p>
								<span class="sponsor-label name">Bronze</span>
								<span class="sponsor-label price"><strong>500 €</strong></span>
							</p>
							<ul class="list-group">
								<li class="list-group-item">Logo on website</li>
								<li class="list-group-item">One free pass</li>
							</ul>
						</div>
					</div>

					<!-- Silver Sponsor -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="row">
							<p>
								<span class="sponsor-label name">Silver</span>
								<span class="sponsor-label price"><strong>2200 €</strong></span>
							</p>
							<ul class="list-group">
								<li class="list-group-item">Logo on website</li>
								<li class="list-group-item">Logo on t-shirt</li>
								<li class="list-group-item">Two free passes</li>
							</ul>
						</div>
					</div>

					<!-- Gold Sponsor -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="row">
							<p>
								<span class="sponsor-label name">Gold</span>
								<span class="sponsor-label price"><strong>4750 €</strong></span>
							</p>
							<ul class="list-group">
								<li class="list-group-item">Logo on website</li>
								<li class="list-group-item">Logo on t-shirt</li>
								<li class="list-group-item">Exhibition stand</li>
								<li class="list-group-item">Three free passes</li>
								<li class="list-group-item"><em><a href="#gold">.. and more</a></em></li>
							</ul>
						</div>
					</div>

					<!-- Platinum Sponsor -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="row">
							<p>
								<span class="sponsor-label name">Platinum</span>
								<span class="sponsor-label price"><strong>8500 €</strong></span>
							</p>
							<ul class="list-group">
								<li class="list-group-item">Logo on website</li>
								<li class="list-group-item">Logo on t-shirt</li>
								<li class="list-group-item">Exhibition stand</li>
								<li class="list-group-item">Maximum exposure</li>
								<li class="list-group-item">20 minute keynote</li>
								<li class="list-group-item">Four free passes</li>
								<li class="list-group-item"><em><a href="#platinum">..and more</a></em></li>
							</ul>
						</div>
					</div>

				</div>

				<!-- Explanations of sponsorship levels -->
				<div class="row">
					<div class="col-md-12">
					<span class="anchor" id="platinum"></span>
					<h4>Platinum <span class="label label-primary"><i>Sold Out</i></span></h4>
					<p>
						As a Platinum partner the Business will be entitled to the following
						promotional opportunities:
					</p>
					<ul>
						<li>
							Permission for the Business to use the following endorsement: "Platinum Partner of
							PGConf.EU 2014"
						</li>
						<li>
							Prominent inclusion of the Business' logo and a link to the Business' website on the
							official conference website
						</li>
						<li>
							The Business' logo printed on the official PGConf.EU 2014 attendees t-shirts
						</li>
						<li>
							Inclusion of three A4 or Letter sized pages of the Business' promotional material -
							optionally in a folder without bindings - in the conference packs for registered
							attendees
						</li>
						<li>
							Four free attendee passes for the conference (not including admission to training sessions)
						</li>
						<li>
							A desk in the exhibitors area of the conference
						</li>
						<li>
							Inclusion of one or two small Business promotional giveaways in the conference packs for
							registered attendees
						</li>
						<li>
							Selection of one 20 minute keynote talk to be presented in at the conference, title,
							abstract and speaker name to be agreed with PostgreSQL Europe, prior to the end date
							of the general Call For Papers
						</li>
						<li>
							The opportunity to include corporate signage up to a size of 2 metres high by 1 metre
							wide at the front of one lecture rooms
						</li>
					</ul>
					<p>
						Cost for Platinum Partnership opportunities, as described above, is 8500 €. Additional
						donations are welcome.
					</p>

					<span class="anchor" id="gold"></span>
					<h4>Gold</h4>
					<ul>
						<li>
							Permission for the Business to use the following endorsement: "Gold Partner of
							PGConf.EU 2014"
						</li>
						<li>
							Prominent inclusion of the Business' logo and a link to the Business' website on
							the official conference website
						</li>
						<li>
							The Business' logo printed on the official PGConf.EU 2014 attendees t-shirts
						</li>
						<li>
							Inclusion of two A4 or Letter sized pages of the Business' promotional material -
							optionally in a folder without bindings - in the conference packs for registered
							attendees
						</li>
						<li>
							Three free attendee passes for the conference (not including admission to training
							sessions)
						</li>
						<li>
							A desk in the exhibitors area of the conference
						</li>
						<li>
							Inclusion of one small Business promotional giveaway in the conference packs for
							registered attendees
						</li>
					</ul>
					<p>
						Cost for Gold Partnership opportunities, as described above, is 4750 €. Additional
						donations are welcome.
					</p>

					<span class="anchor" id="silver"></span>
					<h4>Silver</h4>
					<p>
						As a Silver partner the Business will be entitled to the following
						promotional opportunities:
					</p>
					<ul>
						<li>
							Permission for the Business to use the following endorsement: "Silver Partner of
							PGConf.EU 2014"
						</li>
						<li>
							Prominent inclusion of the Business' logo and a link to the Business' website on
							the official conference website
						</li>
						<li>
							The Business' logo printed on the official PGConf.EU 2014 attendees t-shirts
						</li>
						<li>
							Inclusion of one A4 or Letter sized page of the Business' promotional material
							in the conference packs for registered attendees
						</li>
						<li>
							Two free attendee passes for the conference (not including admission to training
							sessions).
						</li>
					</ul>

					<p>
						Cost for Silver Partnership opportunities, as described above, is 2200 €. Additional
						donations are welcome.
					</p>

					<span class="anchor" id="bronze"></span>
					<h4>Bronze</h4>
					<p>
						As a Bronze partner the Business will be entitled to the following
						promotional opportunities:
					</p>
					<ul>
						<li>
							Permission for the Business to use the following endorsement: "Bronze Partner
							of PGConf.EU 2014"
						</li>
						<li>
							Inclusion of the Business' logo and a link to the Business' website on the
							official conference website
						</li>
						<li>
							One free attendee pass for the conference (not including admission to training
							sessions)
						</li>
					</ul>
					<p>
						Cost for Bronze Partnership opportunities, as described above, is 500 €. Additional
						donations are welcome.
					</p>

					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
