{% extends "pgdayparis2016/base.html" %}

{% block menu %}
  <div class="collapse" id="menu">
    <ul>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}">Home</a></li>
      <li><a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">Programme</a></li>
      <li class="active"><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Appel à orateurs</a></li>
       <li><a href="{{linkbase|default:"http://pgday.paris/"}}registration/">Inscription</a></li>
       <li><a href="{{linkbase|default:"http://pgday.paris/"}}commitee/">Comité de sélection</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
    </ul>
  </div>
{% endblock %}

{% block pgdaypariscontent%}
<section class="like-you">
  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <h2>L'appel à conférence est ouvert&nbsp;!</h2>
  </article>

  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <p>
      Pour cette édition 2016, <b>deux formats sont acceptés</b>&nbsp;:</br>
      <ul>
        <li>Conférence&nbsp;: durée 45 mins (questions comprises) pour parler du
          sujet de votre choix.</li>
        <li>Présentation&nbsp;: 20 mins (questions comprises) pour présenter le sujet
          de votre choix.</li>
      </ul>
    </p>

    </br>
    </br>

    <p>
      Vous pouvez égalemment préciser les éléments suivants :
      <ul>
        <li>votre site web personnel, compte Twitter ou toute autre lien utile</li>
        <li>le dépôt des sources du projet (dans le cas de la présentation d'un
        logiciel open-source).</li>
      </ul>
    </p>

    <p>
      Le comité de sélection étudiera toutes les propositions. Le choix des
      sessions sera basé sur la présentation de la soumission, son intérêt
      pour une audience professionnelle, et la cohérence du programme de la
      journée.
    </p>

    <p>
      Le comité est composé de&nbsp;:
      <ul>
        <li>Vik Fearing</li>
      </ul>
      Voulez-vous faire partie du comité&nbsp;? Envoyez-nous un mail à
      <a href="mailto:org@pgday.paris">org@pgday.paris</a>.
      </p>

      <p>
        La décision du comité de sélection sera finale et sans appel. Les
        membres du comité s'expriment en leur nom propre. Leurs choix ne
        reflètent pas la position de leur employeur.
      </p>
      </br>
      <h2>À bientôt au pgDay Paris&nbsp;!</h2>
  </article>
</section>
{%endblock%}
