{%extends "pgconfeu/base.html"%}
{%block title%}Code of Conduct{%endblock%}
{%block headline%}Code of Conduct{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container bottom">
		<div class="row">
			<span class="anchor" id="coc"></span>
			<div class="col-md-12 content left-col right-col">
				<p class="lead text-center abstract">
					PGConf.EU 2014 is dedicated to providing a harassment-free conference experience for everyone.
				</p>
				<p>
					We do not tolerate harassment of PGConf.EU 2014 participants in any form. Sexual language and
					imagery is not appropriate for any conference venue, including exhibition booths, talks and
					social events around PGConf.EU 2014. Conference participants violating these rules may be
					sanctioned or expelled from the conference without a refund at the discretion of the PGConf.EU
					2014 conference organizers.
				</p>
				<p>
					Harassment includes offensive verbal comments related to gender, sexual orientation, disability,
					physical appearance, body size, race, religion, displaying sexual images in public spaces,
					deliberate intimidation, stalking, following, harassing photography or recording, sustained
					disruption of talks or other events, inappropriate physical contact, and unwelcome sexual
					attention. Participants asked to stop any harassing behavior are expected to comply immediately.
				</p>
				<p>
					If a participant engages in harassing behavior, the PGConf.EU 2014 conference organizers may take
					any action they deem appropriate, including ejection from the conference with no refund. If you
					feel that you are being harassed, notice that someone else is being harassed, or have any other
					concerns, please contact a PostgreSQL Europe Board Member immediately.
				</p>
				<p>
					PGConf.EU 2014 volunteers will be happy to help participants contact hotel/venue security or the
					police, provide escorts, or otherwise assist those experiencing harassment to feel safe for the
					duration of the conference.
				</p>
				<p>
					Thank you for your help in making PGConf.EU 2014 fun and enjoyable for everyone!
				</p>

				<h4>Points of Contact</h4>
  				<ul>
					<li>Conference Organisers phone numer: <a
					href="tel:+34657175399">+34 65 717 53 99</a></li>
					<li>Conference Email: <a href="mailto:contact@pgconf.eu">contact@pgconf.eu</a></li>
					<li>Miguel Angel Hotel Phone: <a href="tel:+34914420022">+34 91 442 00 22</a></li>
					<li>Central Police Station Phone: <a href="tel:+34915487985">+34 91 548 79 85</a></li>
				</ul>
				<ul>
				  <li>PostgreSQL Europe Board Members:
  				    <ul>
					<li>Magnus Hagander</li>
					<li>Dave Page</li>
					<li>Andreas Scherbaum</li>
					<li>Guillaume Lelarge</li>
					<li>Gabriele Bartolini</li>
				    </ul>
				  </li>
				</ul>
			</div>
		</div>
	</div>
{%endblock%}
