{% extends "pgdayparis2016/base.html" %}
{% block menu %}
  <div class="collapse" id="menu">
    <ul>
      <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}">Home</a></li>
      <li><a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">Programme</a></li>
      <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}callforpapers/">Appel à orateurs</a></li>
      <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}registration/">Inscription</a></li>
      <li class="active"><a href="{{linkbase|default:"http://www.pgday.paris/"}}committee/">Comité de sélection</a></li>
      <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">Sponsors</a></li>
      <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}contact/">Contact</a></li>
    </ul>
  </div>
{% endblock %}

{%block pgdaypariscontent%}
<section class="like-you">
  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <h2>Sélection des conférences</h2>
    <!--p>
      Le comité a fait sa sélection et
      <a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">le programme</a>
      est maintenant disponible&nbsp;!
    </p-->
   </article>
</section>

<section class="defs">
    <h2>Le comité de sélection des conférences est composé de&nbsp;:</h2>
    <figure class="col-sm-12 col-md-4">
      <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/vik.jpg" style="height:200px" >
      <figcaption>Vik Fearing<br/>2ndQuadrant France</figcaption>
    </figure>

    <figure class="col-sm-12 col-md-4">
      <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/grabounga.jpg" style="height:200px" >
      <figcaption>Gilles Souris<br/>Novancia</figcaption>
    </figure>

    <figure class="col-sm-12 col-md-4">
      <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/romain.jpg" style="height:200px" >
      <figcaption>Romain Roiné<br/>Webedia</figcaption>
    </figure>

    <figure class="col-sm-12 col-md-4">
      <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/arnaud.jpg" style="height:200px" >
      <figcaption>Arnaud Gambonnet<br/>Consultant SI indépendant</figcaption>
    </figure>

    <figure class="col-sm-12 col-md-4">
      <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/krol.jpg" style="height:200px" >
      <figcaption>Carole Arnaud<br/>Dalibo</figcaption>
    </figure>
</section>
{%endblock%}
