{% extends "pgdayparis2016/base.html" %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block content %}
<h1>Qui sommes nous&nbsp;?</h1>

<p>Le pgDay Paris est organisé par des membres de la communauté française de
PostgreSQL, en partenariat avec <a href="#">PostgreSQL Europe</a>.</p>

<p>N'hésitez pas à nous contacter à l'adresse <strong class="w3-text-theme">
<a href="mailto:org@pgday.paris">org@pgday.paris</a></strong> si vous avez la
moindre question concernant la conférence.</p>

<h2 id="staff">Le staff</h2>

<p>Les personnes responsables de l'organisation de cette conférence
sont&nbsp;:</p>

<div class="w3-row-padding">

<div class="w3-third">
    <div class="w3-container w3-center w3-text-theme">
    <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/vik.jpg" height="200px" width="200px" />
    <p><strong>Vik Fearing</strong><br/>2ndQuadrant France</p>
    </div>
</div>

<div class="w3-third">
    <div class="w3-container w3-center w3-text-theme">
    <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/krol.jpg" height="200px" width="200px" />
    <p><strong>Carole Arnaud</strong><br/>Dalibo</p>
    </div>
</div>

<div class="w3-third">
    <div class="w3-container w3-center w3-text-theme">
    <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/louise.jpg" height="200px" width="200px" />
    <p><strong>Louise Grandjonc</strong><br/>Ulule</p>
    </div>
</div>

</div>

<h2 id="committee">Le comité de sélection</h2>

<p>Les responsables du contenu de cette édition sont&nbsp;:</p>

<div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-container w3-center w3-text-theme">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/vik.jpg" height="200px" width="200px" />
        <p><strong>Vik Fearing</strong><br/>2ndQuadrant France</p>
        </div>
    </div>
    
    <div class="w3-third">
        <div class="w3-container w3-center w3-text-theme">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/grabounga.jpg" height="200px" width="200px" />
        <p><strong>Gilles Souris</strong><br/>Novancia</p>
        </div>
    </div>
    
    <div class="w3-third">
        <div class="w3-container w3-center w3-text-theme">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/romain.jpg" height="200px" width="200px" />
        <p><strong>Romain Roiné</strong><br/>Webedia</p>
        </div>
    </div>
</div>

<div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-container w3-center w3-text-theme">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/arnaud.jpg" height="200px" width="200px" />
        <p><strong>Arnaud Gambonnet</strong><br/>Consultat SI indépendant</p>
        </div>
    </div>
    
    <div class="w3-third">
        <div class="w3-container w3-center w3-text-theme">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/krol.jpg" height="200px" width="200px" />
        <p><strong>Carole Arnaud</strong><br/>Dalibo</p>
        </div>
    </div>
</div>
{% endblock %}
