{% extends "pgdayparis2016/base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="w3-container w3-center">
<h1 class="pp-biolinum"><strong>pgDay Paris</strong></h1>
<h2 class="pp-biolinum">31 mars 2016</h2>
<h2 class="pp-biolinum"><a href="{{linkbase|default:"http://www.pgday.paris/"}}venue/"
    style="text-decoration:none">44 boulevard de Vaugirard</a><br/>Paris, France</h2>
</div>
<hr class="w3-theme"/>

<div class="w3-row">
<div class="w3-container w3-half w3-center">
    <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/pgdayparis2016.png" style="width:100%;min-width:300px;max-width:400px" />
</div>
<div class="w3-container w3-half">
    <p class="w3-left" style="text-align:left;">Le pgDay Paris est une journée
    de conférences et d'échanges organisée par la communauté française et
    européenne de PostgreSQL. C'est <em>le</em> rendez-vous annuel PostgreSQL
    de la capitale. Vous y recontrerez entre autres des contributeurs majeurs
    du projet, ainsi que des utilisateurs de tout niveau.</p>

    <p>Que vous soyez administrateur, développeur, ou en étude de migration, il
    y aura quelque chose pour vous au pgDay Paris 2016. Vous pouvez consulter
    le programme de la journée en <a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">cliquant ici</a>.</p>

    <p class="w3-center">
    <a class="w3-btn w3-theme-action w3-round w3-animate-opacity" href="https://www.postgresql.eu/events/register/pgdayparis2016/">Je m'inscris&nbsp;!</a>
    </p>
    
    <p>Pour cette deuxième édition, nous comptons sur la participation de 100 à
    150 personnes. Ne tardez pas à prendre votre place&nbsp;!</p>
</div>
</div>

<div class="w3-container w3-border w3-margin w3-center">
<p>Nos partenaires&nbsp;:</p>
<div class="w3-row-padding">
    <div class="w3-third w3-margin-bottom">
        <a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">
        <div class="w3-card-2 w3-round">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_small_dalibo.png" style="max-width:200px;width:100%" />
        </div>
        </a>
    </div>
    <div class="w3-third w3-margin-bottom">
        <a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">
        <div class="w3-card-2 w3-round">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_small_loxodata.png" style="max-width:200px;width:100%" />
        </div>
        </a>
    </div>
    <div class="w3-third w3-margin-bottom">
        <a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">
        <div class="w3-card-2 w3-round">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_small_2ndquadrant.png" style="max-width:200px;width:100%" />
        </div>
        </a>
    </div>
</div>
<p>Pour plus d'informations, <a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">cliquez ici</a>.</p>
</div>

<div class="w3-container w3-padding w3-center">
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/pgDayParis" data-widget-id="705838319255592960">#pgDayParis Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<hr class="w3-theme"/>

<p class="w3-text-theme w3-center">Le <strong><span class="pp-biolinum">pgDay Paris 2016</span></strong>
est organisé en partenariat avec
<a href="http://www.postgresql.eu">PostgreSQL Europe</a>.</p>
{% endblock %}
