{%extends "pgdayparis2016/base.html"%}

{% block menu %}
<div class="collapse" id="menu">
  <ul>
    <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}">Home</a></li>
    <li><a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">Programme</a></li>
    <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}callforpapers/">Appel à orateurs</a></li>
    <li class="active"><a href="{{linkbase|default:"http://www.pgday.paris/"}}registration/">Inscription</a></li>
    <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}commitee/">Comité de sélection</a></li>
    <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}sponsors/">Sponsors</a></li>
    <li><a href="{{linkbase|default:"http://www.pgday.paris/"}}contact/">Contact</a></li>
  </ul>
</div>
{% endblock %}

{% block pgdaypariscontent %}
<section class="like-you">
  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <h2>Les inscriptions sont à présent ouvertes&nbsp;!</h2>
    <p>
      Vous pouvez dès aujourd'hui vous <b><a href="https://www.postgresql.eu/events/register/pgdayparis2016/">inscrire</a></b>
      pour venir au pgDay Paris le <emph>31 mars 2016</emph>&nbsp;! Le tarif est de <emph>50&nbsp;&euro;</emph>
      par personne.
    </p>
    <!--p>
      Pour connaître le programme du pgDay Paris, vous pouvez
      vous référer à la partie dédiée sur le site&nbsp;: <a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">ici</a>
    </p-->
    <p>
      Le programme du pgDay Paris sera bientôt disponible. En attendant, vous
      pouvez déjà vous inscrire avec le code <code>EARLYBIRD</code> pour
      <strong>une réduction de 30%</strong>&nbsp;!
    </p>
    <p>
      L'inscription inclut l'accès à toutes les conférences,
      le repas, deux pauses cafés et (presque) tout le café
      que vous pouvez boire en une journée.
    </p>
    <h2><b><a href="https://www.postgresql.eu/events/register/pgdayparis2016/">Je m'inscris&nbsp;!</a></b></h2>
    <p>
      Annulation&nbsp;:
      <ul>
        <li>Si vous devez annuler votre enregistrement après avoir payé, contactez-nous directement.</li>
        <li>Si vous annulez au moins 4 semaines avant la conférence, l'intégralité du coût vous sera remboursé</li>
        <li>Si vous annulez au moins 2 semaines avant la conférence, 50% du coût vous sera remboursé</li>
        <li>Si vous annulez moins de 2 semaines avant la conférence, 25% du coût vous sera remboursé</li>
        <li>Si vous annulez moins d'1 semaine avant la conférence, nous ne pourrons malheureusement pas vous rembourser</li>
      </ul>
    </p>
  </article>
</section>
<section class="like-you">
  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <h2>Registration is now open!</h2>
    <p>
      You can for now on <b><a href="https://www.postgresql.eu/events/register/pgdayparis2016/">register</a></b> to come to the pgDay Paris
      the 31st of March 2016. The cost is of &euro;50 per person.
    </p>
    <!--p>
      To know a bit more about the program of this pgDay you
      can refer to the page dedicated to it
      <a href="https://www.postgresql.eu/events/schedule/pgdayparis2016/">here</a>.
    </p-->
    <p>
      The program for this year's pgDay Paris is not yet available, but it
      already possible to register with the <code>EARLYBIRD</code> code for a
      <strong>30% discount</strong>!
    </p>
    <p>
      Registration includes access to all sessions, lunch, two
      catered coffee breaks and (almost) all the coffee you
      can drink in a day.
    </p>
    <h2><a href="https://www.postgresql.eu/events/register/pgdayparis2016/">Register Now!</a></h2>
    <p>Cancellation policy:
      <ul>
        <li>If you need to cancel your registration after you have paid, please contact us for manual handling.</li>
        <li>If you cancel at least 4 weeks before the conference, we will refund the full cost of the registration, minus any transaction fees.</li>
        <li>If you cancel at least 2 weeks before the conference, we will refund 50% of the cost of the registration, minus any transaction fees.</li>
        <li>If you cancel less than 2 weeks before the conference, we will refund 25% of the cost of the registration, minus any transaction fees.</li>
        <li>If you cancel less than 1 week before the conference, we can unfortunately not provide you with a refund.</li>
    </p>
  </article>
</section>

{%endblock%}
