{% extends "pgdayparis2016/base.html" %}

{% block title %}Inscriptions{% endblock %}

{% block content %}
<h1>Inscriptions</h1>

<div class="w3-row">

<div class="w3-half">
<div class="w3-margin-bottom">
<p>Le tarif du pgDay Paris 2016 est de seulement <strong>50&nbsp;€</strong>&nbsp;!</p>
<a class="w3-btn w3-theme-action w3-round" href="https://www.postgresql.eu/events/register/pgdayparis2016/">Je m'inscris&nbsp;!</a>
</div>
</div>

<div class="w3-half">
<div class="w3-round w3-container w3-card w3-sand" style="width:100%;max-width:600px;border-color:#795548;border-left-width:6px">
<p>Un compte gratuit <em>postgresql.org</em> est nécessaire pour chaque personne souhaitant s'inscrire.
Si vous n'avez pas de compte, vous pouvez en créer un lors de votre inscription.</p>
</div>
</div>

</div>

<h2>Frais d'inscription</h2>

<p>Les frais d'inscription doivent être payés à l'avance. Une fois le paiement
terminé, vous recevrez une copie PDF de votre reçu via e-mail, et il sera
également disponible en téléchargement depuis la page d'inscription.<p>

<p>Dès que celle-ci est confirmée, vous recevrez un e-mail. Ce mail est envoyé
depuis <a href="mailto:org@pgday.paris">org@pgday.paris</a>. Par conséquent,
assurez-vous d'ajouter cette adresse à votre carnet afin d'éviter que le mail
ne soit considéré comme spam.</p>

<p>Vous pouvez régler via carte (Mastercard, Visa, ou American Express),
PayPal, ou virement bancaire. Attention, cette dernière option n'est plus
disponible la semaine précédant la conférence pour des raisons de délai de
traitement.</p>

<!--p>Si vous êtes une société qui prend en charge les frais d'inscriptions d'un employé, vous
pouvez <a href="#otherpayment">payer à sa place</a>. Si vous comptez payer pour
plusieurs personnes, il est également possible d'effectuer un <a
href="#bulk">paiement groupé</a>.<p-->

{% endblock %}
