{% extends "pgdayparis2016/base.html" %}

{% block title %}Sponsors{% endblock %}

{% block content %}
<h1>Nos sponsors</h1>

<p>Nous tenons à remercier chaleureusement nos sponsors, sans qui cette
conférence ne pourrait avoir lieu.</p>

<h2 id="partners">Les «&nbsp;Partners&nbsp;»</h2>

<div class="w3-row-padding">
    <div class="w3-half">
        <div class="w3-container w3-center w3-text-theme">
        <a href="http://www.dalibo.com">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_dalibo_2016.png"
             style="width:100%;min-width:200px;max-width:300px" />
        </a>
        <p>DALIBO est le spécialiste français de PostgreSQL. Nous proposons du
        support, de la formation et du conseil depuis 2005.</p>
        </div>
    </div>
    
    <div class="w3-half">
        <div class="w3-container w3-center w3-text-theme">
        <a href="http://www.loxodata.com">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_loxodata_2016.png"
             style="width:100%;min-width:200;px;max-width:300px" />
        </a>
        <p>Partenaire de votre réussite avec PostgreSQL depuis 2010, Loxodata
        figure au palmarès 2015 du Technology Fast50 Deloitte.</p>
        </div>
    </div>
</div>

<div class="w3-row-padding">
    <div class="w3-half">
        <div class="w3-container w3-center w3-text-theme">
        <a href="http://www.2ndquadrant.com/fr/">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_2ndquadrant_2016.png"
             style="width:100%;min-width:200px;max-width:300px" />
        </a>
        <p>Les experts internationalement reconnus dans les domaines du
        support, de la formation, du développement, de la migration et du
        conseil PostgreSQL.</p>
        </div>
    </div>
</div>

<h2 id="supporters">Les «&nbsp;Supporters&nbsp;»</h2>

<p>Il n'y a aucun sponsor «&nbsp;Supporter&nbsp;» pour le moment.</p>

<hr class="w3-theme" />

<h2>Devenir sponsor</h2>

<p>Le pgDay Paris est le rendez-vous annuel de la communauté PostgreSQL sur la
capitale. Vous y recontrerez entre autres des contributeurs majeurs du projet
ainsi que des utilisateurs de tout niveau. Pour vous, l'occasion idéale de
proposer votre savoir-faire et de mettre votre expertise en valeur.</p>

<p>Contactez-nous à <strong class="w3-text-theme"> <a
href="mailto:org@pgday.paris">org@pgday.paris</a></strong> pour plus
d'informations. Nous sommes impatients de travailler avec vous&nbsp;!</p>

<div class="w3-row-padding">
    <div class="w3-half">
    <div class="w3-center w3-border w3-margin">
        <h3 class="w3-theme-light">Supporter</h3>
        <h4>400&nbsp;€</h4>
        <p>Vous appréciez la communauté PostgreSQL&nbsp;? Soutenez-la&nbsp;!</p>
        <p><a class="w3-btn w3-round w3-theme"
        href="https://www.postgresql.eu/events/sponsor/signup/pgdayparis2016/supporter/">Je
        m'inscris&nbsp;!</a></p>
        <div class="w3-text-theme">
            <p>Ce niveau vous donne accès à&nbsp;:</p>
            <ul>
                <li>Votre logo sur notre site</li>
                <li>1 entrée gratuite</li>
            </ul>
        </div>
    </div>
    </div>

    <div class="w3-half">
    <div class="w3-center w3-border w3-margin">
        <h3 class="w3-theme-light">Partner</h3>
        <h4>1200&nbsp;€</h4>
        <p>Ce niveau de sponsoring vous offre une visibilité maximale.
        Depêchez-vous, cette offre est limitée aux 5 premiers inscrits.</p>
        <p><a class="w3-btn w3-round w3-theme"
        href="https://www.postgresql.eu/events/sponsor/signup/pgdayparis2016/partner/">Je
        m'inscris&nbsp;!</a></p>
        <div class="w3-text-theme">
            <p>Ce niveau vous donne accès à&nbsp;:</p>
            <ul>
                <li>Votre logo sur notre site</li>
                <li>2 entrées gratuites</li>
                <li>Descriptif de votre société sur notre site</li>
                <li>Remerciements publics à l'ouverture et à la clôture de l'évènement</li>
                <li>Publicité sur le lieu de l'évènement</li>
                <li>Stand d'exposition</li>
                <li>Votre logo sur les badges</li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}
