{% extends "pgdayparis2016/base.html" %}

{% block title %}Comment venir ?{% endblock %}

{% block content %}
<h1>Comment venir&nbsp;?</h1>

<p>La conférence aura lieu cette année au siège social de La Poste, 44
boulevard de Vaugirard, 75015 Paris.</p>

<p>Vous trouverez ci-dessous des instructions pour venir selon votre mode de
transport.</p>

<div class="w3-row">

<div class="w3-half">
<h2>En métro</h2>

<p>Rendez vous à la station «&nbsp;Montparnasse &ndash; Bienvenüe&nbsp;» sur
les lignes 4, 6, 12, et 13. Ensuite, prenez la sortie numéro 2. Si cette sortie
n'est pas marquée, suivez les panneaux pour SNCF Grandes Lignes. Faites
demi-tour en sortant de l'escalier et prenez la première rue à droite qui est
le boulevard de Vaugirard. Vous êtes déjà sur le bon trottoir, avancez jusqu'au
numéro 44.</p>

<h2>En bus</h2>

<p>De nombreuses lignes de bus desservent le quartier de la Gare Montparnasse.
Pour des informations spécifiques à votre trajet, veuillez consulter le site de
la <a href="http://www.ratp.fr/">RATP</a>.</p>

<h2>En train</h2>

<p>Si vous arrivez par&nbsp;:
<dl>
<dt>Gare Montparnasse</dt>
<dd>Prenez la sortie sur votre gauche à côté du Quick. Vous êtes sur le
boulevard de Vaugirard. L'évènement se trouve sur le trottoir en face de la
gare en remontant vers la gauche.</dd>

<dt>Gare du Nord, Gare de l'Est</dt><dd>Prenez la ligne 4 du métro.</dd>

<dt>Gare Saint-Lazare</dt><dd>Prenez la ligne 13 du métro.</dd>

<dt>Gare de Lyon, Gare d'Austerlitz</dt><dd>Prenez la ligne 91 du bus.</dd>
</dl>
</p>

<h2>En voiture</h2>

<p>Il y a plusieurs parkings publics autour de la Gare Montparnasse, située en
face de l'évènement.</p>

<h2>En avion</h2>

<p>Si vous arrivez par&nbsp;:
<dl>
<dt>Charles de Gaule</dt>
<dd>Prenez le RER B jusqu'à la station «&nbsp;Saint-Michel &ndash;
Notre-Dame&nbsp;» puis prenez la ligne 4 du métro.</dd>

<dt>Orly</dt>
<dd>Prenez le RER B jusqu'à la station «&nbsp;Denfert-Rochereau&nbsp;» puis
prenez la ligne 4 ou 6 du métro.</dd>
</dl>
</p>

</div>


<div class="w3-half w3-right">

<h2>Le plan du quartier</h2>
<div class="w3-card-8 w3-margin">
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <div style='overflow:hidden;height:440px;width:100%;'>
      <div id='gmap_canvas' style='height:440px;width:100%;'></div>
      <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
    </div>
      
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(48.8409624,2.316344200000003),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(48.8409624,2.316344200000003)});infowindow = new google.maps.InfoWindow({content:'<strong>pgDay Paris 2016</strong><br>44 boulevard de Vaugirard, Paris<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>
</div>

</div>
{% endblock %}
