{% extends "pgdayparis/base.html" %}

{% block extrahead %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
          center: new google.maps.LatLng(48.856654, 2.352423),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP}
      var map = new google.maps.Map(mapCanvas, mapOptions)

      var myLatlng = new google.maps.LatLng(48.841093, 2.316344);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'La poste'
      });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}

{% block menu %}
  <div class="collapse" id="menu">
    <ul>
      <li><a href="{{linkbase|default:"http://2014.pgconf.eu/"}}">Home</a></li>
      <li><a href="{{linkbase|default:"http://2014.pgconf.eu/"}}callforpapers/">Call for papers</a></li>
      <li><a href="{{linkbase|default:"http://2014.pgconf.eu/"}}sponsors/">Sponsors</a></li>
      <li class="active"><a href="{{linkbase|default:"http://2014.pgconf.eu/"}}contact/">Contact</a></li>
    </ul>
  </div>
{% endblock %}

{% block pgdaypariscontent %}
  <section class="like-you">
    <article class="col-sm-12 col-md-offset-1">
      Vous pouvez à tout moment nous contacter à l'adresse mail suivante : <b> xxxxx@pgdayparis.com </b>
    </article>
 </section>
 <section class="like-you">
      <article class="col-sm-12 col-md-offset-1 col-md-9">
        <h2>Nous trouver</h2>
         <p>
          </br><span>44 boulevard de Vaugirard, 75015 PARIS</span>
         </p>
          <p>
            Métro Montparnasse-Bienvenüe : lignes 4, 6, 12 ou 13
            </br>
            Métro Pasteur : lignes 12
          </p>
          <div id="map-canvas">
          </div>
      </article>
    </section>
{%endblock%}
