{%extends "pgdayparis/base.html"%}
{% load staticfiles %}
{%block titlesuffix%}{%endblock%}

{% block intro %}
	<header class="cover">
      <div class="layer">
        <h1>PostgreSQL <small>Conference <span>Paris</span> 2015</small></h1>
        <div class="invite-scroll">
          <a href="#content">
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </header>
{% endblock %}

{% block pgdaypariscontent %}
	<section class="like-you">
        <figure class="col-sm-12 col-md-6">
          <img src="{% static "img/logos/pgdayparis.png" %}" width="700" height="359" alt="pgDay Presentations">
        </figure>
        <article class="col-sm-12 col-md-offset-1 col-md-5">
          <h2>pgDay Paris <br><span>le 21 avril 2015</span> </h2>
          <p>
          	Le pgDay Paris est une journée de conférences et d'échanges organisée par la communauté française de PostgreSQL.
          </p>
          <p>
			L'édition 2015 se déroulera au siège social de la Poste:
			</br><span>44 boulevard de Vaugirard, 75015 PARIS</span>
		  </p>
		  <p>
		  	Nous comptons sur la participation de 150 à 250 personnes.
		  	Les inscriptions seront très prochainement disponibles.
		  </p>
		  </br>

		  <p>
		  	Vous êtes expert sur un domaine lié aux bases de données libres ? Vous
			avez utilisé PostgreSQL dans un contexte spécifique (gros volumes, forte
			charge, projet innovant, etc.) ? Vous participez à un projet libre lié à
			PostgreSQL ? N'hésitez pas à venir présenter votre utilisation de
			PostgreSQL. Nous souhaitons axer cette édition sur vos retours
			d'expérience.
			</br>
			Pour en savoir plus, vous pouvez visiter la page : <a href="{{linkbase|default:"http://2014.pgconf.eu/"}}callforpapers/">Propositions de conférences</a>
		  </p>
		</small></h4>

        </article>
    </section>
    {% if posts %}
		<section class="for-you">
	      	<h2>News</h2>
			{% for post in posts %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><small>{{ post.posttime|date:"Y-m-d" }}</small>&nbsp;{{ post.title }}</h4>
					</div>
					<div class="panel-body">
						{{ post.content }}
					</div>
				</div>
			{% endfor %}
	{% endif %}
    </section>
    <section class="like-you">
        <figure class="col-sm-12 col-md-6">
          <img src="{% static "img/logos/twitter.jpg" %}" width="700" height="359" alt="Twitter news">
        </figure>
        <article class="col-sm-12 col-md-offset-1 col-md-5">
          <h2>Twitter</h2>
          <div class="panel panel-default">
			<div class="panel-heading">
			<h4><small>Follow us on <a href="http://twitter.com/pgdayparis"><i class="fa fa-twitter"></i>
				Twitter</a> for the latest conference news</small></h4>
			</div>
				<a class="twitter-timeline" data-dnt="true"
					href="https://twitter.com/pgdayparis"
					data-widget-id="477123102019551233"
					data-chrome="noheader nofooter"
				>
					Tweets by @pgdayparis
				</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

          <span class="cta">
            <!-- <a href="">Découvrir les références Felynx</a> -->
          </span>
        </article>
    </section>
{% endblock %}

{% block extrascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/smoothscroll.js" %}"></script>
  <script src="{% static "js/svgreplace.js" %}"></script>
  <script>
      $('#nav').affix({
        offset: {
          top: function () {
            return (this.top = $('#nav').outerHeight())
          },
        }
      })
  </script>
{% endblock %}