{%extends "pgconfeu/base.html"%}
{%block title%}Sponsors{%endblock%}
{%block content_not_now%}
<h1>Sponsorship Logo Guidelines</h1>

<p>
These are the logo size restrictions for each sponsorship level.  The sidebar
refers to the far right-hand side of the conference website, and the sponsor
page refers to the web page on the conference site listing all the sponsors.
Note that bronze sponsors aren't displayed in the sidebar.
</p>

<table class="guidelines">
  <thead>
     <tr>
      <th>Level</th>
      <th>Sidebar Size</th>
      <th>Sponsor Page Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Platinum</th>
      <td>200x80</td>
      <td>300x120</td>
    </tr>
    <tr>
      <th>Gold</th>
      <td>150x60</td>
      <td>225x90</td>
    </tr>
    <tr>
      <th>Silver</th>
      <td>125x60</td>
      <td>190x75</td>
    </tr>
    <tr>
      <th>Bronze</th>
      <td>N/A</td>
      <td>150x60</td>
    </tr>
  </tbody>
</table>

<p>Here is a visual comparison</p>

<table class="guidelines">
  <thead>
    <tr>
      <th>Level</th>
      <th>Sidebar Size</th>
      <th>Sponsor Page Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Platinum</th>
      <td><img src="/files/img/sponsor/examples/200x80.png" alt=""></td>
      <td><img src="/files/img/sponsor/examples/300x120.png" alt=""></td>
    </tr>
    <tr>
       <th>Gold</th>
       <td><img src="/files/img/sponsor/examples/150x60.png" alt=""></td>
       <td><img src="/files/img/sponsor/examples/225x90.png" alt=""></td>
     </tr>
     <tr>
       <th>Silver</th>
       <td><img src="/files/img/sponsor/examples/125x60.png" alt=""></td>
       <td><img src="/files/img/sponsor/examples/190x75.png" alt=""></td>
     </tr>
     <tr>
       <th>Bronze</th>
       <td>N/A</td>
       <td><img src="/files/img/sponsor/examples/150x60.png" alt=""></td>
     </tr>
  </tbody>
</table>

<p>
This means no logo may exceed any dimension, so a 300x120 logo may not be
320x50, or 280x130. If a sponsor only had a 300x300 logo, it would be scaled
so that the height would be 120 as that's the largest it can be within the
dimension boundaries.
</p>

<p>
All artwork to be printed or used by PostgreSQL Europe shall be
provided in a PNG (for website) and in vector format SVG or EPS
(for t-shirts).  Logo images must have a transparent
background.
</p>


{%endblock%}
