{%extends "pgconfeu/base.html"%}
{%block title%}Social Events{%endblock%}
{%block headline%}Social Events{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 content left-col right-col">
				<p class="lead text-center abstract">
					Information about social events will arrive shortly!
				</p>

				<p>
				  There will definitely be social events
				  during PGConf.EU 2014. More information
				  will arrive as soon as we have it.
				</p>
			</div>
		</div>
	</div>
{%endblock%}
