{% extends "pgdayparis/base.html" %}
{% load staticfiles %}
{% block menu %}
  <div class="collapse" id="menu">
    <ul>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}">Home</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call for papers</a></li>
      <li class="active"><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
    </ul>
  </div>
{% endblock %}
{%block pgdaypariscontent%}
  <section class="defs">
    <h2> Les sponsors de cette édition sont : </h2>
    <dl>
      <dt>
        <img src="{% static "img/logos/2ndquadrant_logo_full_color.jpg" %}" style="width:400px;" >
      </dt>
      <dd>Un mot sur 2nd quadrant</dd>
    </dl>
    <header>
      <h2>Sponsors</h2>
    </header>
    <dl>
      <dt>
        <img src="{% static "img/logos/loxologo.png" %}" style="width:400px;">
      </dt>
      <dd>Un mot sur loxodata</dd>
    </dl>
  </section>

{%endblock%}
