{%extends "pgconfeu/base.html"%}
{%block title%}Training{%endblock%}
{%block headline%}Training{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container bottom">
		<div class="row">
			<div class="col-md-12 content left-col right-col">
				<p class="lead text-center abstract">
					Training sessions available for Tuesday!
				</p>

<p>
The Tuesday before the regular conference sessions start, there will be a
full day of training courses on PostgreSQL and related topics provided
by some of the most popular training companies in the PostgreSQL community.
</p>

<p>
Each half-day session is offered at a cost of €150, and each full-day session
at €300. This includes:
<ul>
 <li>Approximately 3.5 hours of instructor-led training for half day sessions, 7 hours for full-day sessions</li>
 <li>Lunch (for full day or two half-day training session attendees, not included for single half-day session attendees)</li>
 <li>A hotel venue</li>
 <li>Course material, if required</li>
</ul>
</p>

<p>
All training sessions are held on the Tuesday before the conference. This
means that you can either attend <i>one</i> of the full day sessions, or
<i>one or two</i> of the half day sessions. It is <i>not</i> permitted to
switch to a different session once your registration has been confirmed,
unless you contact the conference organizers and get confirmation first.
Space is strictly limited in each individual session.
</p>

<p>
Each training course is provided by a third-party which is wholly
responsible for the course content. The proceeds of the training are shared
between the company providing each course and PostgreSQL Europe.
</p>

<p>
The following full-day courses are available:
<ul>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/677-rendimiento-el-bueno-el-malo-y-el-feo/">Rendimiento: el bueno, el malo y el feo</a> by Álvaro Herrera, 2ndQuadrant</li>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/682-postgresql-backups-replication-disaster-recovery/">PostgreSQL Backups, Replication &amp; Disaster Recovery</a> by Simon Riggs, 2ndQuadrant</li>
</ul>
</p>

<p>
The following half-day courses are available before lunch:
<ul>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/680-migration-to-postgresql/">Migration to PostgreSQL</a> by Joe Conway and Michael Meskes, Credativ</li>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/679-data-analysis/">Data Analysis</a> by Hans-Jürgen Schönig, Cybertec</li>
</ul>

And the following half-day courses are available after lunch:
<ul>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/678-nosql-on-acid-maximizing-results-with-jsonb-and-postgresql/">NoSQL on Acid – Maximizing Results with JSONB and PostgreSQL</a> by Bruce Momjian, EnterpriseDB</li>
  <li><a href="http://www.postgresql.eu/events/sessions/pgconfeu2014/session/681-postgresql-and-java/">PostgreSQL and Java</a> by Alvaro Hernandez, 8Kdata</li>
</ul>
</p>

<p>
<b>Note!</b> There are overlapping trainings. You can only attend either
a full day course, or one half day course before lunch and/or one after. They
are all on the same day, and you cannot freely move between the sessions.
</p>

<p>
<b>Note!</b> Lunch is included if you attend a full day training or if you
attend one training session in the morning and one in the afternoon. It is
<em>not</em> included if you only attend a single half-day session. Coffee
breaks during the training are of course always included.
</p>

<p>
If you wish to take a training course, you must register in advance when
you <a href="/registration/">register for the conference</a>. Space is limited,
so book early to avoid disappointment!
</p>

			</div>
		</div>
	</div>

{%endblock%}
