{%extends "pgconfeu/base.html"%}
{%block title%}About{%endblock%}
{%block headline%}About{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container bottom">
		<div class="row">
			<div class="col-md-12 content left-col right-col">
				<p class="lead text-center abstract">
					PostgreSQL Conference Europe is by far the largest PostgreSQL conference in Europe.
				</p>

				<h4>Six year mission</h4>
				<p>
					This year's conference is the 6th annual PostgreSQL Conference Europe.
					The conference is organized by PostgreSQL Europe, with participation from most of the
					PostgreSQL user groups around Europe, and is intended to be an important meeting and
					cooperation point for users both in and out of Europe.
				</p>
				<p>
					PGConf.EU is a unique chance for European PostgreSQL users and developers to catch up,
					learn, build relationships, get to know each other and consolidate a real network of
					professionals that use and work with PostgreSQL.
				</p>

				<h4>Great content from <i class="fa fa-microphone"></i> to <i class="fa fa-coffee"></i></h4>
				<p>
					The conference will cover a wide range of topics, as we expect talks ranging from
					internals discussions led by leading developers to end-user case-studies from small
					companies as well as large multinational corporations and government organizations,
					all who run their businesses on PostgreSQL.
				</p>
				<p>
					The conference will run multiple parallel tracks, covering the different technical levels
					to make sure there is always something interesting for everybody. Talks will be available
					in multiple languages, the majority in English with a separate track for talks in Spanish.
				</p>
				<p>
					..and let's not forget the all important hallway track with caffeine infused discussions
					with interesting peers from the community.
				</p>

				<h4>Something for everyone</h4>
				<p>
					Given this wide range of talks, the conference is suitable for many different audiences:
				</p>
				<ul>
					<li>
						DBAs already using PostgreSQL, or considering doing so
					</li>
					<li>
						Developers of any kind of application, from hobbyists to large web- and enterprise
						applications
					</li>
					<li>
						Decision-makers interested in evaluating the world's most advanced open source
						database as an alternative to traditional proprietary products
					</li>
					<li>
						PostgreSQL contributors - code, documentation, support - whatever you help with!
					</li>
					<li>
						Open source enthusiasts in general!
					</li>
				</ul>

				<h4>Training</h4>
				<p>
					Next to the conference, we will also team up with several of the companies around Europe who
					offer PostgreSQL training, for a day of discounted short PostgreSQL training sessions. More
					info on available sessions will be announced soon.
				</p>

				<p class="text-center">
					<a class="btn btn-success btn-lg btn-signup" role="button" href="/registration/">
						You had me at PostgreSQL, sign me up!
					</a>
				</p>

				<h4>Code of Conduct</h4>
				<p>
					PostgreSQL Conference Europe has an amazing atmosphere but should any situation or question
					arise, please see our <a href="{{linkbase|default:"http://2014.pgconf.eu"}}codeofconduct/">
					Code of Conduct</a>.
				</p>
			</div>
		</div>
	</div>
{%endblock%}
