{% extends "pgdayparis2015/base.html" %}

{% block menu %}
  <div class="collapse" id="menu">
    <ul>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}">Home</a></li>
      <li class="active"><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call for papers</a></li>
       <li><a href="{{linkbase|default:"http://pgday.paris/"}}commitee/">Comité de sélection</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
      <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
    </ul>
  </div>
{% endblock %}
{% block pgdaypariscontent%}

<section class="like-you">
  <article class="col-sm-12 col-md-offset-1 col-md-9">
    <h2>
      Présenter une conférence
    </h2>
    <p>
      Vous êtes expert sur un domaine lié aux bases de données libres ? Vous
      avez utilisé PostgreSQL dans un contexte spécifique (gros volumes, forte
      charge, projet innovant, etc.) ? Vous participez à un projet libre lié à
      PostgreSQL ? N'hésitez pas à venir présenter votre utilisation de
      PostgreSQL. Nous souhaitons axer cette édition sur vos retours
      d'expérience.
    </p>
    <p>
      Le <b>Call For Papers est maintenant ouvert</b> ! Pour nous <b>proposer une conférence</b>, clickez sur ce <b><a href="https://www.postgresql.eu/events/callforpapers/pgdayparis2015/">lien</a></b>.
    </p>
    </br>
    <p>
      The Call For Papers is now open ! We welcome
      english speakers, native or not. Consider sending your proposal
      for any topic related to PostgreSQL, with a strong preference
      towards interesting feedback from real-world use case! Of
      course, state of the art developments and all about the future
      of PostgreSQL will be a tremendous fit for our technically
      oriented audience too.
      The limit date for the Call For Papers is the <b>22nd of March</b>.
      <b>To participate, click <a href="https://www.postgresql.eu/events/callforpapers/pgdayparis2015/">here</a></b>
    </p>
    </br>
    <p>

      Pour cette édition 2015, <b>trois formats sont ouverts</b> :
      </br>

      <ul>
        <li>
          Conférence : durée 45 mins (questions comprises) pour parler du
          sujet de votre choix.
        </li>
        <li>
          Présentation : 20 mins (questions comprises) pour présenter le sujet
          de votre choix.
        </li>
        <li>
          Présentation éclair : durée 5 mins (pas de questions) afin d'annoncer
          un projet ou bien d'ouvrir un sujet qui vous semble important sans
          être prêt à 20 mins de présentation.
        </li>
      </ul>
    </p>
    </br>
    </br>

           <p>
        Vous pouvez égalemment préciser les éléments suivants :

        <ul>
          <li>votre site web personnel, compte Twitter ou toute autre lien utile</li>
          <li>le dépôt des sources du projet (dans le cas de la présentation d'un
        logiciel open-source).</li>
        </ul>
      </p>

    <p>
      <b>
        La date limite de réception des propositions est fixée au 22 mars 2015.
      </b>
    </p>

      <p>
        Le comité de sélection étudiera toutes les propositions. Le choix des
        sessions sera basé sur la présentation de la soumission, son intérêt
        pour une audience professionnelle, la cohérence du programme de la
        journée.
      </p>
    <p>
      Le comité est composé de :
      <ul>
        <li>Dimitri Fontaine</li>
        <li>Rodolphe Quiédeville</li>
        <li>Jean-Gérard Pailloncy</li>
        <li>Stéphane Schildknecht</li>
      </ul>
      </p>

      <p>
        La décision du comité de sélection sera finale et sans appel. Les
        membres du comité s'expriment en leur nom propre. Leurs choix ne
        reflètent pas la position de leur employeur.
      </p>

      <p>
        Les orateurs sélectionnés seront avertis par e-mail à partir
        du 22 mars et annoncés officiellement (après confirmation) dès
        le 1er avril 2015, jour de l'annonce du programme.
      </p>

      <p>
        <b>Pour toute question n'hésitez pas à nous contacter via
        l'adresse : org@pgday.paris</b>
      </p>

      </br>
      <h2>À bientôt au pgDay Paris !</h2>
  </article>
</section>
{%endblock%}
