{%extends "pgdayparis2015/base.html"%}
{%block titlesuffix%}{%endblock%}

{% block intro %}
	<header class="cover">
      <div class="layer">
        <h1>PostgreSQL <small>Conference <span>Paris</span> 2015</small></h1>
        <div class="invite-scroll">
          <a href="#content">
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </header>
{% endblock %}

{% block pgdaypariscontent %}
        <section class="like-you">
          <article class="col-sm-12 col-md-offset-1 col-md-9">
            <h2>Les inscriptions sont à présent ouvertes !</h2>
            <p>
              Vous pouvez dès aujourd'hui vous
              inscrire <b><a href="https://www.postgresql.eu/events/register/pgdayparis2015/">ici</a></b>
              pour venir au pgDay Paris le 21 avril 2015 ! Le tarif est de 65 Euros
              par personnes.
            </p>
            <p>
              L'appel à conférence est maintenant clos et le programme du pgDay sera annoncé sous peu. Le comité fait
              actuellement la sélection des conférences !
            </p>
            <p>
              L'inscription inclue l'accès à toutes les conférences,
              le repas, deux pauses cafés et (presque) tout le café
              que vous pouvez boire en une journée.
            </p>
            <p>
              Annulation :
              <ul>
                <li>Si vous devez annuler votre enregistrement après
                  avoir payé, contactez-nous directement.</li>
                <li>Si vous annulez au moins 4 semaines avant la conférence,
                  l'intégralité du coût vous sera remboursé</li>
                <li>Si vous annulez au moins 2 semaines avant la conférence,
                  50% du coût vous sera remboursé</li>
                <li>Si vous annulez moins de 2 semaines avant la
                  conférence, 25% du coût vous sera remboursé</li>
                <li>Si vous annulez moins d'1 semaine avant la
                conférence, nous ne pourrons malheureusement pas vous rembourser</li>
              </ul>
            </p>
          </article>
        </section>
        <section class="like-you">
          <article class="col-sm-12 col-md-offset-1 col-md-9">
            <h2>The registration is now available!</h2>
            <p>
              You can for now on register <b><a href="https://www.postgresql.eu/events/register/pgdayparis2015/">here</a></b> to come to the pgDay Paris
              the 21st of April 2015. The cost is of 65 euros per
              person.
            </p>
            <p>
              The call for paper is now closed and the program will be
              announced really soon ! Our commitee is now choosing the conferences.
            </p>
            <p>
              What's included : </br>
Included in all registrations is access to all sessions, lunch, two
              catered coffee breaks and (almost) all the coffee you
              can drink in a day.
            </p>
            <p>Cancellation:
              <ul>
                <li>If you need to cancel your registration after you
                  have paid, please contact us for manual
                  handling.</li>
                <li>If you cancel at least 4 weeks before the
                conference, we will refund you the full cost of the
                  registration, minus any transaction fees.</li>
                <li>If you cancel at least 2 weeks before the
                conference, we will refund you 50% of the cost of the
                  registration, minus any transaction fees.</li>
                <li>If you cancel less than 2 weeks before the
                conference, we will refund you 25% of the cost of the
                  registration, minus any transaction fees.</li>
                <li>If you cancel less than 1 week before the
                conference, we can unfortunately not provide you with
                  a refund.</li>
            </p>
          </article>
        </section>
	<section class="like-you">
        <figure class="col-sm-12 col-md-7">
          <img src="{{mediabase|default:"http://pgday.paris/"}}static/img/logos/pgdayparis.png" width="700" height="359" alt="pgDay Presentations">
        </figure>
        <article class="col-sm-11 col-md-5">
          <h2>pgDay Paris <br><span>le 21 avril 2015</span> </h2>
          <p>
          	Le pgDay Paris est une journée de conférences et d'échanges organisée par la communauté française de PostgreSQL.
          </p>
          <p>
			L'édition 2015 se déroulera au siège social de la Poste:
			</br><span>44 boulevard de Vaugirard, 75015 PARIS</span>
		  </p>
		  <p>
		  	Nous comptons sur la participation de 150 à 250 personnes.
		  	Les inscriptions seront très prochainement disponibles.
		  </p>
		  </br>

		  <p>
		  	Vous êtes expert sur un domaine lié aux bases de données libres ? Vous
			avez utilisé PostgreSQL dans un contexte spécifique (gros volumes, forte
			charge, projet innovant, etc.) ? Vous participez à un projet libre lié à
			PostgreSQL ? N'hésitez pas à venir présenter votre utilisation de
			PostgreSQL. Nous souhaitons axer cette édition sur vos retours
			d'expérience.
			</br>
			Pour en savoir plus, vous pouvez visiter la page : <a href="{{linkbase|default:"http://2014.pgconf.eu/"}}callforpapers/">Propositions de conférences</a>
		  </p>
		</small></h4>

</article>

</section>
<section class="for-you">
  <article class="col-sm-12 col-md-6">
    <h2>pgDay Paris <br><span>April 21st, 2015</span> </h2>
    <p>
      pgDay Paris 2015 is an excellent chance to learn more about the world's most advanced open source database among your peers in France. Whether you use PostgreSQL as a DBA, an application developer, a sysadmin or a devop; whether you are interested into resource and risk management or technical details ; pgDay Paris will have something for you.</p>
    <p>
      Our call for presentations is now open and registration will open shortly. We hope to see you in Paris!
    </p>
  </article>
  <figure class="col-sm-12 col-md-6">
    <img height="350" src="{{mediabase|default:"http://pgday.paris/"}}static/img/screens/international.jpg">
  </figure>

    </section>
    {% if posts %}
		<section class="for-you">
	      	<h2>News</h2>
			{% for post in posts %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4><small>{{ post.posttime|date:"Y-m-d" }}</small>&nbsp;{{ post.title }}</h4>
					</div>
					<div class="panel-body">
						{{ post.content }}
					</div>
				</div>
			{% endfor %}
	{% endif %}
    </section>
    <section class="like-you">

        <article class="col-sm-12 col-md-offset-1 col-md-9">
          <h2>Twitter</h2>
          <div class="panel panel-default">
			<div class="panel-heading">
			<h4><small>Follow the <a href="http://twitter.com/hashtag/pgdayparis"><i class="fa fa-twitter"></i>
				#pgdayparis Tweets</a> for the latest conference news</small></h4>
			</div>
                        <a class="twitter-timeline" width="848" href="https://twitter.com/hashtag/pgdayparis" data-widget-id="570233813276823552">#pgdayparis Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                       </div>

          <span class="cta">
            <!-- <a href="">Découvrir les références Felynx</a> -->
          </span>
        </article>
    </section>
{% endblock %}

{% block extrascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{mediabase|default:"http://pgday.paris/"}}static/js/bootstrap.js"></script>
  <script src="{{mediabase|default:"http://pgday.paris/"}}static/js/smoothscroll.js"></script>
  <script src="{{mediabase|default:"http://pgday.paris/"}}static/js/svgreplace.js"></script>
  <script>
      $('#nav').affix({
        offset: {
          top: function () {
            return (this.top = $('#nav').outerHeight())
          },
        }
      })
  </script>
{% endblock %}
