{%extends "pgconfeu/base.html"%}
{%block title%}Schedule{%endblock%}
{%block headline%}Schedule{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 content left-col right-col">
				<p class="lead text-center abstract">
					The schedule has not been published yet.
				</p>
			</div>
		</div>
	</div>
{%comment%}
<p>
The schedule has not yet been finalized. We have, however, started approving
talks. While waiting for the exact schedule, we suggest you check the
<a href="http://www.postgresql.eu/events/sessions/pgconfeu2012/">list of
approved talks</a> - anything on that list will be at the conference, we
just don't know exactly when yet.
</p>
{%endcomment%}
{%endblock%}
