{%extends "pgconfeu/base.html"%}
{%block title%}Venue &amp; Hotel{%endblock%}
{%block headline%}Venue &amp; Hotel{%endblock%}
{%block pgconfeucontent%}
	<div class="fluid-container bottom">
		<div class="row">
		  <div class="col-md-12 content left-col right-col">
		   <div class="row">
			<div class="col-md-6">
				<h3>Hotel Miguel Angel</h3>
				<p class="lead">
					This year, PostgreSQL Conference Europe will be held at the
					<a href="http://www.hotelmiguelangel.com/" target="_blank">Hotel Miguel Angel</a>
					in sunny Madrid, Spain. Located in the Salamanca district near
					Madrid's Old Town, the Miguel Angel is close to lots of restaurants and
					bars for the all important social track.
				</p>
			</div>
			<div id="hotel-carousel" class="col-md-6 fill carousel slide" style="margin-top: 10px">
			  <ol class="carousel-indicators">
				<li data-target="#hotel-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#hotel-carousel" data-slide-to="1"></li>
				<li data-target="#hotel-carousel" data-slide-to="2"></li>
				<li data-target="#hotel-carousel" data-slide-to="3"></li>
			  </ol>
			  <div class="carousel-inner">
				<div class="item active">
				  <img src="/files/img/hotel/recepcion-001.jpg" alt="Reception"/>
				</div>
				<div class="item">
				  <img src="/files/img/hotel/fachada-001.jpg" alt="Hotel"/>
				</div>
				<div class="item">
				  <img src="/files/img/hotel/img-salones-renacimiento-001.jpg" alt="Meeting room"/>
				</div>
				<div class="item">
				  <img src="/files/img/hotel/new-royal-001.jpg" alt="Bedroom"/>
				</div>
			  </div>
			</div>
		   </div>
		   <div class="row">
		   <div class="col-md-12">
			<h4>Conference hotel rate</h4>
			<p>
			  We have arranged a special rate for booking bedrooms at
			  the Hotel Miguel Angel. This rate is inclusive of wifi
			  and breakfast, and can be canceled up to 5 days before
			  the event. The rate is available for booking <i>until
			  September 8th</i>. There is a limited number of rooms
			  available, so we suggest you book early!
			</p>
			<p>
			  The rate is available for arrival from <i>Oct 19th</i> until
			  departure <i>Oct 27th</i>, for one or more nights in this
			  time span. Each room can be booked for one or two persons.
			  A credit card is required to guarantee the reservation, but
			  payment should not happen until arrival at the hotel.
			</p>
			<p>
			  The conference rates are:
			</p>
			<table class="table table-responsive">
			  <thead>
				<tr>
				  <th><strong>Room type</strong></th>
				  <th class="text-center"><strong>Nightly price for single use</strong></th>
				  <th class="text-center"><strong>Nightly price for double use</strong></th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="success">
				  <td>Standard double</td>
				  <td class="text-center">€120</td>
				  <td class="text-center">€130</td>
				</tr>
				<tr>
				  <td>Royal Executive Double</td>
				  <td class="text-center">€150</td>
				  <td class="text-center">€160</td>
				</tr>
				<tr>
				  <td>Royal Premier Double</td>
				  <td class="text-center">€160</td>
				  <td class="text-center">€170</td>
				</tr>
			  </tbody>
			</table>
			<p>
			  All prices are listed excluding 10% tax, which will be added by
			  the hotel booking engine..
			</p>
			<h4>Booking a hotel room</h4>
			<p>
			  Due to the way the hotel booking engine work, a few
			  things need to be noted before you make your reservation:
			</p>
			<ul>
			  <li>
				All dates default to the current date, which shows as
				not available. Once you update the dates and click
				search, the correct rates will become available.
			  </li>
			  <li>
				The rate sometimes labeled as <i>Lastminute offer</i>
				is the <i>Standard room</i>. It is not a last minute
				offer, and is available for the same period of time as
				the other rates.
			  </li>
			  <li>
				All bookings default to 2 persons, and so do all the
				prices. Change the number of persons to 1 and
				click <i>Breakout</i> or add it to the shopping basket
				to view the price for single occupancy.
			  </li>
			  <li>
				All rates are inclusive of VAT, which may not be
				true for rates found on other booking engines.
			  </li>
			  <li>
				Note that some popups may show up in Spanish.
			  </li>
			  <li>
				The countries listed in the country dropdown are not in
				alphabetical order.
			  </li>
			</ul>
			<p>
			  While the hotel is of course bookable through other venues as
			  well, we ask you to use our booking rate if at all possible,
			  since PostgreSQL Europe has made a financial commitment
			  to the hotel based on selling a certain number of rooms on it.
			</p>
			<p class="text-center">
			  <a class="btn btn-success btn-lg btn-signup" role="button" href="https://www.hotelmiguelangel.com/booking-prestige-list/?channelkey=F95DD5DD-4564-DC88-E040-4A0ABA920F6B&skin=grey&idiomaid=en&desde=&hasta">Reserve your room now</a>
			</p>
			<p>
			  For those of you who wish to share a room to save cost,
			  we suggest using the
			  <a href="https://wiki.postgresql.org/wiki/PgconfEU2014RoomSharing">wiki
			  page</a> set up for the purpose.
			</p>

		    <p>
			  <b>Note</b> that all reservations are done directly with the
			  hotel. If you have any questions about your reservation, please
			  contact the hotel
			  <a href="http://www.hotelmiguelangel.com/index.php/en/about-us/contact">directly</a>!
			</p>
			</div>
			</div>

			<div class="row">
			<div class="col-md-12">
			<h4>Travel within the city</h4>
			<p>
				The Hotel Miguel Angel is located right in front of the Metro stop Gregorio Marañón,
				with two Metro lines going through this station: 7 (East-West) and 10 (North-South).
				There are also stops for several city buses very close to the hotel: lines 7, 147, 40,
				14, 27, 45 and 150.
			</p>
			<p>
				With over 300km of Metro lines (6th largest in the world), Madrid Metro is fast, safe
				and easy to use, making it easy to commute to every interesting place in the city.
				Each track is only serviced by a single line so catching the wrong train is easily avoided.
			</p>
			<p>
				<a href="http://www.metromadrid.es/metro/mapametrofull.asp" target="_blank">The Metro</a>
				runs from 6AM until 2AM with a single fare costing 1.50€ (a 10 trip ticket is
				12.20€). Another option is to buy a tourist pass that allow you to freely ride both
				Metro and buses. The tourist pass is 8.40€ for 2 days, 14.20€ for 3 days, 18.40€ for
				5 days and 26.80€ for 7 days.
			</p>
			<p>
				The <a href="http://www.emtmadrid.es/mapaweb/emt.html" target="_blank">Madrid bus lines</a>
				(“autobús", in Spanish), crossing the city north to south, are another good option. Buses
				are especially good for touring the Castellana street which is the main street of Madrid.
				The Metro 10-trip tickets (see above) are also valid for the bus, so they are very convenient
				regardless the transportation method chosen.
			</p>
			<p>
				In front of the Hotel there is a permanent taxi stop with vehicles available throughout
				the day. Taxis are generally not very expensive, the cost is 2.40€ - 2.90€ plus 1.05€ -
				1.25€/km, depending on the day and time of the day.
			</p>
			<p>
				More information about public transportation in Madrid can be found
				<a href="http://www.ctm-madrid.es/servlet/IdiomaServlet?xh_IDIOMA=2" target="_blank">
				here</a>.
			</p>
			</div>
			</div>

			<div class="row">
			<div class="col-md-6">
			<h4>Arriving by Air</h4>
			<p>
				Madrid's international airport is called
				<a href="http://www.aena-aeropuertos.es/csee/Satellite/Aeropuerto-Madrid-Barajas/en/"
				target="_blank">Adolfo-Suárez Madrid Barajas</a> (airport code: MAD).
				To get to the hotel from the airport, the recommended method is to take the Metro.
				Going from, and coming to, the airport carries a supplement of 3€ on the normal ticket.
				There are stations on both Terminal 2 (Terminal 1 and 3 are at walking distance from Terminal
				2) and Terminal 4 (there is also a bus connecting Terminal 4 and Terminals 1, 2 and 3). Take
				line 8 to Nuevos Ministerios (5 stops if coming from Terminal 1-2-3, 7 stops if coming from
				Terminal 4) and change trains on Nuevos Ministerios station. Take then line 10 (direction:
				Puerta del Sur) and go to Gregorio Marañón station (1 stop).
			</p>
			</div>
			<div class="col-md-6">
				<img
					class="responsive airport-image" src="/files/img/hotel/mad_airport.jpg"
					alt="Image credit Bruno Alexandre, https://flic.kr/p/P2YAq"
				>
			</div>
			</div>
			<div class="row">
			<div class="col-md-12">
			<p>
				For passengers arriving at Terminal 4 (most OneWorld Alliance flights and non-Schengen flights),
				there is also a good option by taking a direct train (“Cercanías”) to Nuevos Ministerios,
				where you can connect to the Metro (Line 10, direction Puerta del Sur, one station to Gregorio
				Marañón). It costs 2.55€ and takes just 18 minutes from the airport to Nuevos Minsterios. It
				runs every 30 minutes from 6AM to 11:30PM.
			</p>
			<p>
				There are also several bus routes from the airport to the city, but they are not usually
				recommended as they take more time than Metro/train.
			</p>
			<p>
				Further information on transportation to/from the airport can be found
				<a href="http://www.aena-aeropuertos.es/csee/Satellite/Aeropuerto-Madrid-Barajas/es/Page/1237554326802//Transporte-publico.html" target="_blank">here</a>.
			</p>
			<p>
				There are of course also taxis at the airport. There is a flat rate of 30€ from the airport
				to anywhere in the city center of Madrid, where the hotel Miguel Ángel is. There is however
				no flat rate when traveling within the city.
			</p>
			</div>
			</div>

			<div class="row">
			<div class="col-md-12">
			<h4>Map</h4>
			<p>
			  <iframe
				 class="map"
				 src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3036.704036789672!2d-3.6914220000000006!3d40.437552000000004!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1397256367579"
				 frameborder="0">
			  </iframe>
			</p>
			</div>
			</div>

		  </div>
		</div>
	</div>
{%endblock%}
{%block extrascript%}
	<script type="text/javascript">
	  $('#hotel-carousel').carousel();
	</script>
{%endblock%}
