{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="PostgreSQL Conference Paris 2015">
	<meta name="author" content="PostgreSQL Paris">
	<title>{%block title%}{%endblock%}{%block titlesuffix%} - PostgreSQL Conference Paris 2015{%endblock%}</title>

  <link href="{% static "css/home.css" %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

{%block extrahead%}{%endblock%}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav id="nav" role="navigation">
      <div class="container-fluid">
        <div class="brand">
          <a class="fl-logo" href="{% url 'pgdayparis.base.views.index' %}">
            <img id="logo-header" src="{% static "img/logos/pgdayparis.svg" %}" height="50">
          </a>
        </div>
        {% block menu %}
          <div class="collapse" id="menu">
            <ul>
              <li class="active"><a href="{{linkbase|default:"http://pgday.paris/"}}">Home</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call for papers</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
            </ul>
          </div>
        {% endblock %}
      </div>
    </nav>

    {% block intro %}{% endblock %}

    <main id="content" role="main">
				<div class="col-md-10 col-md-offset-1 heading">
					<h1 class="heading">{%block headline%}{%endblock%}</h1>
				</div>
					{%block pgdaypariscontent %}{%endblock%}
    </main>

<footer id="footer">
      <div class="layer"></div>
      <div class="container">
        <div class="row">
          <section class="about">
            <h2>À propos</h2>
            <p>Lien avec le pgday france de belfort, les confs seront
            pas les même alors venez, regarde comme on est bien blabla à écrire avec dim
            toute à l'heure et mettre un joli lien</p>
          </section>
          <section class="author">
            <ul>
              <li class="avatar">
                <span><img src={% static "img/logos/pg-france.png" %}
                alt="Logo de l'événement"></span>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <footer>
        <nav>
          <div class="row">
            <section class="links">
              <ul>
                <li>
                 <a class="fl-logo" href="{% url 'pgdayparis.base.views.index' %}">
                   <img id="logo-footer" src="{% static "img/logos/pgdayparis.svg" %}" height="50">
                 </a>
                </li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call for papers</a></li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
              </ul>
            </section>
            <section class="social">
              <ul>
                <li>
                  <a href="http://felynx.com/" target="_blank"
                     rel="nofollow">
                    <img src={% static "img/logos/logofelynx.svg" %} height="50">
                    Merci à Felynx pour le CSS
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </nav>
      </footer>
    </footer>


{%block extrascript%}{%endblock%}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1345454-11']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
