<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="PostgreSQL Conference Paris 2015">
	<meta name="author" content="PostgreSQL Paris">
	<title>{%block title%}{%endblock%}{%block titlesuffix%} - PostgreSQL Conference Paris 2015{%endblock%}</title>

  <link href="{{mediabase|default:"http://pgday.paris/"}}static/css/home.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

{%block extrahead%}{%endblock%}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav id="nav" role="navigation">
      <div class="container-fluid">
        <div class="brand">
          <a class="fl-logo" href="{{linkbase|default:"http://pgday.paris/"}}">
            <img id="logo-header" src="{{mediabase|default:"http://pgday.paris/"}}static/img/logos/pgdayparis.svg" height="50">
          </a>
        </div>
        {% block menu %}
          <div class="collapse" id="menu">
            <ul>
              <li class="active"><a href="{{linkbase|default:"http://pgday.paris/"}}">Home</a></li>
              <li><a href="https://www.postgresql.eu/events/schedule/pgdayparis2015/">Programme</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call
                  for papers</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}registration/">Inscription</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}commitee/">Comité
      de sélection</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
              <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
            </ul>
          </div>
          {% endblock %}
      </div>
    </nav>

    {% block intro %}{% endblock %}

    <main id="content" role="main">
				<div class="col-md-10 col-md-offset-1 heading">
					<h1 class="heading">{%block headline%}{%endblock%}</h1>
				</div>
					{%block pgdaypariscontent %}{%endblock%}
    </main>

<footer id="footer">
      <div class="layer"></div>
      <div class="container">
        <div class="row">
          <section class="about">
            <h2>À propos</h2>
            <p>L'an de grâce 2015 se voit doté de deux évènements PostgreSQL, le pgDay à Paris le 21 avril et celui de Belfort, le 2 juin. Ces évènements sont organisés conjointement, en particulier avec le même comité de sélection des conférences. Si l'évènement Parisien se veut international et attractif autant pour un public décisionnel que technique, l'évènement de Belfort se donne pour objectif de répondre aux questions des DSI française autour de l'adoption de PostgreSQL.</p>
            <p>Pour plus d'information sur l'événement de Belfort, rendez-vous sur leur <a href="http://select-2-6-2015-as-pgday.org/index.html">site</a></p>
          </section>
          <section class="author">
            <ul>
              <li class="avatar">
                <span><img src="{{mediabase|default:"http://pgday.paris/"}}static/img/logos/pg-france.png"
                alt="Logo de l'événement"></span>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <footer>
        <nav>
          <div class="row">
            <section class="links">
              <ul>
                <li>
                 <a class="fl-logo" href="{{linkbase|default:"http://pgday.paris/"}}">
                   <img id="logo-footer" src="{{mediabase|default:"http://pgday.paris/"}}static/img/logos/pgdayparis.svg" height="50">
                 </a>
                </li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}callforpapers/">Call for papers</a></li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}sponsors/">Sponsors</a></li>
                <li><a href="{{linkbase|default:"http://pgday.paris/"}}contact/">Contact</a></li>
              </ul>
            </section>
            <section class="social">
              <ul>
                <li>
                  <a href="http://felynx.com/" target="_blank"
                     rel="nofollow">
                    <img src="{{mediabase|default:"http://pgday.paris/"}}static/img/logos/felynx-logo.png" height="50">
                    Merci à Felynx pour le CSS
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </nav>
      </footer>
    </footer>


{%block extrascript%}{%endblock%}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90693202-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
