@font-face {
    font-family: Biolinum;
    src: url('/static/fonts/LinuxLibertine/WOFF/LinBiolinum_R.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Biolinum;
    src: url('/static/fonts/LinuxLibertine/WOFF/LinBiolinum_RB.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Biolinum;
    src: url('/static/fonts/LinuxLibertine/WOFF/LinBiolinum_RI.woff');
    font-weight: normal;
    font-style: italic;
}

