{% extends "pgdayparis2017/base.html" %}

{% block title %}Call for Papers{% endblock %}

{% block content %}
<div class="w3-containter">
    <h1>Our Call for Papers is now open!</h1>

    <div class="w3-row">
        <div class="w3-container w3-half">
        <p>Whether you're a user or a developer of PostgreSQL, we would like to
        hear your story. You can talk about your open source project, your
        success with PostgreSQL in the enterprise, your favourite extension or
        any other related topic.</p>
        </div>

        <div class="w3-container w3-half">
        <p>The deadline for submitting a proposal is
        <strong>2017-01-09</strong> and all authors will be contacted by
        <strong>2017-01-16</strong>. If your presentation is selected, you will
        get free registration for the conference.</p>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-container w3-center">
        <p>
        <a class="w3-btn w3-theme-action w3-round w3-animate-opacity"
           href="https://www.postgresql.eu/events/callforpapers/pgdayparis2017/"
           >Submit a talk now!</a>
        </p>
        <p>&nbsp;</p>
        </div>
    </div>

    <div class="w3-row">

        <div class="w3-container w3-half">
        <p>Presentations are 45 minutes long after which there will be time for
        questions. The conference is single-track so the attention from the
        crowd will be all yours. Since we are targeting an international
        audience all presentations must be held in English. Speakers need to
        register but of course get free entry (and free food).</p>

        <p>We are now accepting submissions. Please submit your proposal by
        <a href="https://www.postgresql.eu/events/callforpapers/pgdayparis2017/">setting
        up a speaker profile</a>.  If you already have a profile, please
        take a minute to review it. Once you have a profile, this page will
        provide a link to a form where you can submit one or more talks for
        pgDay Paris 2017. When the site prompts for a login, use your regular
        postgresql.org community account.</p>
        </div>

        <div class="w3-round w3-container w3-half w3-card w3-leftbar w3-note-theme w3-border-theme">
        <p>This year we are accepting submissions in cooperation with
        <a href="https://2017.nordicpgday.org/"><strong>Nordic PGDay</strong></a>
        which will be held two days before pgDay Paris. A select number of
        speakers may be invited to give their presentation at both events. If
        you are interested in doing this, please pick the track for both
        conferences in your submission. Your presentation may still be accepted
        to just one of the events, so if acceptance to both events is a
        condition for your ability to attend (for example due to travel),
        please state this in the submission notes.</p>
        </div>
    </div>
</div>
{% endblock %}
