{% extends "pgdayparis2017/base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<h1>Schedule</h1>

<p>This schedule is subject to changes. This page will be updated when any
changes occur.</p>

<p>Click on the session's title or the speaker's name for more details.</p>

<div class="w3-row" style="max-width: 600px">
  <div>
    <h2>Thursday, March 23</h2>
    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>08:30 &ndash; 09:00
      <br/>Registration &amp; Coffee
      </p>
    </div>

    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>09:00 &ndash; 09:15
      <br/>Welcome &amp; Opening
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>09:15 &ndash; 10:05
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1516-a-postgresql-dbas-toolbelt-for-2017/">A PostgreSQL DBAs Toolbelt for 2017</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/337-kaarel-moppel/">Kaarel Moppel</a></i>
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>10:05 &ndash; 10:55
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1510-corruption-war-stories/">Corruption War Stories</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/77-christophe-pettus/">Christophe Pettus</a></i>
      </p>
    </div>

    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>10:55 &ndash; 11:15
      <br/>Coffee Break
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>11:15 &ndash; 12:05
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1475-cant-imagine-what-a-newbie-can-do-with-postgresql-on-linux-in-a-month/">Can't imagine what a newbie can do with PostgreSQL on Linux in a month</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/381-sylvie-aune/">Sylvie AUNE</a></i>
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>12:05 &ndash; 12:55
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1469-measuring-and-reducing-postgresql-transaction-latency/">Measuring and Reducing PostgreSQL Transaction Latency</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/379-fabien-coelho/">Fabien Coelho</a></i>
      </p>
    </div>

    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>12:55 &ndash; 14:00
      <br/>Lunch
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>14:00 &ndash; 14:50
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1519-a-look-at-the-elephants-trunk-postgresql-10/">A look at the Elephants trunk - PostgreSQL 10</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/1-magnus-hagander/">Magnus Hagander</a></i>
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>14:50 &ndash; 15:40
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1517-infrastructure-monitoring-with-postgres/">Infrastructure Monitoring with Postgres</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/378-steven-simpson/">Steven Simpson</a></i>
      </p>
    </div>

    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>15:40 &ndash; 16:00
      <br/>Coffee Break
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>16:00 &ndash; 16:50
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1513-mls-postgresql-implementing-multi-level-security-in-postgresql-with-rls-and-selinux/">MLS PostgreSQL - Implementing Multi-level Security in PostgreSQL with RLS and SELinux</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/38-joe-conway/">Joe Conway</a></i>
      </p>
    </div>

    <div class="w3-container w3-card-2 w3-theme w3-margin-bottom">
      <p>16:50 &ndash; 17:40
      <br/><b><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/session/1492-replication-recovery-in-postgresql-100/">Replication & Recovery in PostgreSQL 10.0</a></b>
      <br/><i><a href="https://www.postgresql.eu/events/schedule/pgdayparis2017/speaker/17-simon-riggs/">Simon Riggs</a></i>
      </p>
    </div>

    <div class="w3-container w3-card w3-theme-light w3-margin-bottom">
      <p>17:40 &ndash; 17:50
      <br/>Closing
      </p>
    </div>
  </div>
</div>
{% endblock %}
