{% extends "pgdayparis2017/base.html" %}

{% block title %}Sponsors{% endblock %}

{% block content %}
<h1>Our sponsors</h1>

<p>pgDay Paris offers a great chance to reach PostgreSQL professionals and
community members in the Paris area. We have two levels of sponsorship
opportunities available: Partner and Supporter.</p>

<p>If you are interested in sponsoring the conference, you can sign up directly
on <a
href="https://www.postgresql.eu/events/sponsor/signup/pgdayparis2017/">the
site</a>. You'll be able to get the process started for all
sponsorship levels there, and for Support sponsorship you will be able to
complete the whole process within minutes. Contact us at <a
href="mailto:org@pgday.paris">org@pgday.paris</a> for more information. We look
forward to working with you!</p>

<h2 id="partners">Partners</h2>

<div class="w3-row-padding">
    <div class="w3-half">
        <div class="w3-container w3-center w3-text-theme">
        <a href="http://www.cybertec.at/">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_cybertec_2017.png"
             style="width:100%;min-width:200px;max-width:300px" />
        </a>
        <p>Provider of 24x7 PostgreSQL support, training, consulting and development - worldwide!</p>
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-container w3-center w3-text-theme">
        <a href="http://www.loxodata.com/">
        <img src="{{mediabase|default:"http://www.pgday.paris/"}}static/img/logos/logo_loxodata_2017.png"
             style="width:100%;min-width:200px;max-width:300px" />
        </a>
        <p>&nbsp;</p>
        </div>
    </div>
</div>

<h2 id="supporters">Supporters</h2>

<p>There are currently no Supporter sponsors.</p>

<hr class="w3-theme" />

<h2 id="becomesponsor">Become a sponsor</h2>

<div class="w3-row-padding">
    <div class="w3-half">
    <div class="w3-center w3-border w3-margin">
        <h3 class="w3-theme-light">Supporter</h3>
        <h4>€400</h4>
        <p>Supporter is the ideal level for showing your support to the community.</p>
        <p><a class="w3-btn w3-round w3-theme"
        href="https://www.postgresql.eu/events/sponsor/signup/pgdayparis2017/supporter/">Sign up!</a></p>
        <div class="w3-text-theme">
            <ul style="list-style: none; padding: 0">
                <li>Logo on website</li>
                <li>1 free entry</li>
                <li>Mention in opening/closing statement</li>
            </ul>
        </div>
    </div>
    </div>

    <div class="w3-half">
    <div class="w3-center w3-border w3-margin">
        <h3 class="w3-theme-light">Partner</h3>
        <h4>€1200</h4>
		<p>This is the level offering maximum visibility. Partners can also
		choose to add additional packages such as sponsoring a coffee break or
		lunch (details to be decided later).</p>
		<p> This level is limited to just five sponsors.</p>
        <p><a class="w3-btn w3-round w3-theme"
        href="https://www.postgresql.eu/events/sponsor/signup/pgdayparis2017/partner/">Sign up!</a></p>
        <div class="w3-text-theme">
            <ul style="list-style: none; padding: 0">
                <li>Logo on website</li>
                <li>2 free entries</li>
                <li>Introduction on website</li>
                <li>Mention in opening/closing statement</li>
                <li>Signage/rollup</li>
                <li>Shared exhibition stand</li>
                <li>Logo on badges</li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}
